*{
    margin: 0;
    border: 0;
    box-shadow: none;
}

@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}
@font-face {
    font-family: 'satoshi-r';
    src: url('../assets/fonts/Satoshi-Regular.otf');
}
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/fonts/SpaceGrotesk-Regular.otf');
}
@font-face {
    font-family: 'UberMoveMedium';
    src: url('../assets/fonts/UberMoveMedium.otf');
}


.nav-container{
    border-right: 1px solid #e8ebeb;
    width: 18rem;
    height: 100vh;
    .logo-admin-name-container{

        .logo-container{
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: .2rem;
            padding: .5rem;
            border-bottom: 1px solid #e8ebeb;

            .logo-container-x{
                display: flex;
                align-items: center;
                gap: .5rem;
                background: #e97e6a;
                border-radius: 1rem;
                img{
                    width: 7rem; 
                }

            }
            
            .logo-name{
                font-family: 'satoshi-black';
                text-transform: capitalize;
            }
        }
        .logo-container-dark-mode{
            border-bottom: 1px solid #333;

            .logo-name{
                color: #fff;
            }
        }

        .currentUser-role-container{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: .5rem;
            border-bottom: 1px solid #e8ebeb;

            .currentUser-container{
                display: flex;
                align-items: center;
                gap: .4rem;

                img{
                    width: 1.1rem;
                    height: 1.1rem;
                }
                .currentUser{
                    font-size: 14px;
                    color: teal;
                    font-family: 'satoshi-black';
                    text-transform: capitalize;
                }
            }
            
            .role-container{
                display: flex;
                align-items: center;
                gap: .2rem;

                img{
                    width: 1rem;
                    height: 1rem;
                }
                .role{
                    color: tomato;
                    font-size: 12px;
                    text-transform: capitalize;
                }
            }
        }
        .currentUser-role-container-dark-mode{
            border-bottom: 1px solid #333;
        }
    }
    .nave-items{
        padding: .5rem;
        margin-top: 2rem;
        font-size: 14px;
        font-family: 'Gotham';
        .nav-item{
            display: flex;
            align-items: center;
            gap: .5rem;
            cursor: pointer;
            width: fit-content;
            margin-bottom: 1.4rem;
            color: teal;

            &:hover{
                color: #e97e6a;
            }

            img{
                width: 1.1rem;
                height: 1.1rem;
            }
        }

        .logout-button, .light-dark-mode-container, .version{
            display: flex;
            align-items: center;
            gap: .5rem;
            position: fixed;
            bottom: 2rem;
            left: 0;
            color: #808080;
            font-size: 14px;
            font-weight: 500;
            width: 14rem;
            cursor: pointer;
            margin-top: 2rem;
            transition: all .5s;
            border: 1px solid #e8ebeb;
            border-left: none;
            border-right: none;
            padding: .5rem 0 .5rem .5rem;

            img{
                width: 1.1rem;
            }
            }
        .version{
            bottom: 0;
            border: none;
            color: #cfcfcf;
        }
        .reload-button{
            bottom: 4rem;
        }

        .logout-button:hover {
            background: #e8ebeb;
            color: #ff0000;
            }
    }
}
.dark-mode{
    background: #000;
    border-right: 1px solid #333;
}
.small-screen-nav{
    display: none;
}
.bugger-button{
    display: none;
}

@media (max-width: 848px){
    .nav-container{
        width: 20rem;
    }
}
@media (max-width: 768px){
    .nav-container{
        display: none;
    }

    .small-screen-nav-active{
        animation: navSlideActive 2s ease-in-out forwards;
        transition: all 1s;
    }
    .small-screen-nav-none-active{
        transform: translateX(-20rem);
        transition: all 1s;
        animation: navSlideNonActive 2s ease-in-out forwards;
    }

    .small-screen-nav{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 14rem;
        background: #fff;
        border: 1px solid rgb(216, 216, 216);
        display: block;
        z-index: 1;
        animation: navSlide 2s ease-in-out forwards;

    .logo-admin-name-container{

        .logo-container{
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: .2rem;
            padding: .5rem;
            border-bottom: 1px solid #e8ebeb;
            .logo-container-x{
                display: flex;
                align-items: center;
                gap: .5rem;
                background: #e97e6a;
                border-radius: 1rem;
                img{
                    width: 7rem;
                }

            }

            .logo-name{
                font-family: 'satoshi-black';
                text-transform: capitalize;
            }
        }

        .currentUser-role-container{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: .5rem;
            border-bottom: 1px solid #e8ebeb;

            .currentUser-container{
                display: flex;
                align-items: center;
                gap: .4rem;

                img{
                    width: 1.1rem;
                    height: 1.1rem;
                }
                .currentUser{
                    font-size: 14px;
                    color: teal;
                    font-family: 'satoshi-black';
                    text-transform: capitalize;
                }
            }
            
            .role-container{
                display: flex;
                align-items: center;
                gap: .2rem;

                img{
                    width: 1rem;
                    height: 1rem;
                }
                .role{
                    color: tomato;
                    font-size: 12px;
                    text-transform: capitalize;
                }
            }
        }
    }
    .nave-items{
        padding: .5rem;
        margin-top: 2rem;
        font-size: 16px;
        font-family: 'Gotham';
        .nav-item{
            display: flex;
            align-items: center;
            gap: 2rem;
            cursor: pointer;
            width: fit-content;
            margin-bottom: 1.4rem;
            color: teal;

             &:hover{
                color: #e97e6a;
            }

            img{
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .logout-button, .light-dark-mode-container, .version{
            display: flex;
            align-items: center;
            gap: .5rem;
            position: fixed;
            bottom: 2rem;
            left: 0;
            color: #808080;
            font-size: 14px;
            font-weight: 500;
            width: 13.6rem;
            cursor: pointer;
            margin-top: 2rem;
            transition: all .5s;
            border: 1px solid #e8ebeb;
            border-left: none;
            border-right: none;
            padding: .5rem 0 .5rem .5rem;

            img{
                width: 1.1rem;
            }
            }
        .version{
            bottom: 0;
            border: none;
            color: #cfcfcf;
        }
        .reload-button{
            bottom: 4rem;
        }

        .logout-button:hover {
            background: #e8ebeb;
            color: #ff0000;
            }

    }
}
    .bugger-button{
        display: block;
        position: fixed;
        right: 1rem;
        top: .5rem;
        padding: .3rem .5rem;
        padding-bottom: .05rem;
        background: #e97e6a;
        cursor: pointer;
        z-index: 1;
    }
}

@keyframes navSlideActive {
    0%{
        transform: translateX(0);
        transition: all 2s;
    }
}
