@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/fonts/SpaceGrotesk-Regular.otf');
}

.book-detail-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  overflow-y: scroll;
}

.book-container {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 1.2rem;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.1);
  font-family: 'Segoe UI', sans-serif;
  margin-top: 2rem;

  .back-button-contain{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    border: 1px solid teal;
    padding: .3rem 1.5rem;
    border-radius: .2rem;

    img{
        width: 1.5rem;
        height: 1.5rem;
    }
  }

  .track-update-container{
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
    button{
      outline: none;
      border: none;
      font-size: 14px;
      width: 8rem;
    }
    .track-btn{
      background: teal;
    }
    .close{
      background: green;
    }
    .update-btn{
      background: #e97e6a;
    }
  }
  .tracking-wrapper{
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    box-shadow: -1px 5px 10px #f1f1f1;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
    .track-item{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text{
        font-family: 'Gotham';
        color: #808080;
        font-size: 14px;
      }
      svg{
        width: 2.5rem;
        cursor: pointer;
      }
    }
  }
}
.book-container-dark-mode{
  background: #000;
  border: 1px solid teal;
}

.book-title-author {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.book-title-author .sub-title{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 12px;
  font-family: 'Gotham';
  text-transform: none;
  color: teal;
}

.book-title-author .title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #333;
  margin-top: 2rem;
}
.book-title-author .title-dark-mode {
  color: #fff;
}

.book-title-author .by {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.book-title-author .line {
  height: 1px;
  width: 30%;
  background: #aaa;
}

.book-title-author .by-x {
  margin: 0 0.8rem;
  font-size: 0.9rem;
  color: #555;
  font-weight: 500;
}
.book-title-author .by-x-dark-mode {
  color: #fff;
}

.book-title-author .author {
  font-size: 1.2rem;
  font-weight: 500;
  color: #555;
}
.book-title-author .author-dark-mode {
  color: #fff;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.btn-x{
  margin-top: 2rem;
  text-align: center;
}

.book-details label {
  font-size: 0.85rem;
  font-weight: 600;
  color: #888;
}

.book-details .tag {
  font-size: 1rem;
  font-weight: 500;
  color: teal;
  margin-top: 0.3rem;
  background: #f2f2f2;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}
.book-details .tag-dark-mode {
  background: #1a1a1a;
  color: #fff;
}
