*{
    margin: 0;
    border: 0;
    box-shadow: none;
}
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'UberMoveMedium';
    src: url('../assets/fonts/UberMoveMedium.otf');
}
@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}
.pageTitle-notification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebe8e8;
    padding: 1.5rem 0;
    padding-right: 2rem;

    .pageTitle{
            font-family: 'UberMoveMedium';
            font-size: 24px;
            color: teal;
        }


    .notification{
        display: flex;
        align-items: center;
        gap: .1rem;
        font-family: 'satoshi-black';

        .Link{
            display: flex;
            align-items: center;
            justify-content: center;

            .img-container{
                display: flex;
                align-items: center;
                justify-content: center;

                .not-gray{
                    width: 1.2rem;
                    height: 1.2rem;
                }

                img{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }

}
.pageTitle-notification-dark-mode{
    border-bottom: 1px solid #333;
}
@media (max-width: 768px){
    .pageTitle-notification{
        padding-left: .5rem;
        width: 94%;
        padding-right: .7rem;
        margin-top: 1.5rem;


    .notification{
        .Link{
            display: flex;
            align-items: center;
            justify-content: center;

            .img-container{
                display: flex;
                align-items: center;
                justify-content: center;
        img{
            width: 2rem;
            height: 2rem;
        }
            }
        }


    }

}
}
@media (max-width: 450px){
    .pageTitle-notification{
        .pageTitle{
            font-size: 20px;
        }
        .notification{
            .Link{

                .img-container{

                    span{
                        display: none;
                    }
                }
            }


        }

}
}