.trak-shipment{
    background: linear-gradient(135deg, #0f2027, #350849, #1a2225, #013a6b, #fff);
    .air-freight-hero-section{
        height: 73vh;
    }
    .main-container-fluid{
        display: flex;
        flex-direction: column;
        padding-bottom: 5rem;

        .tracking-container{
            width: 90%;
            margin: 4rem auto;
            margin-bottom: 0;

            .label-container{
                position: relative;
                .label{
                    font-family: Arial;
                    font-size: 20px;
                    font-weight: 800;
                    letter-spacing: .1rem;

                    span{
                        color: #e97e6a;
                    }
                }
                img{
                    margin-top: .5rem;
                }

                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
            .input-container{
                margin-top: 1rem;
                label{
                    font-family: 'Gotham';
                    color: #8e8678;
                    font-size: 18px;
                }
                .input-submit-button{
                    display: flex;
                    border: 1px solid #e4e4e4;
                    margin-top: 1rem;
                    border-radius: .5rem;
                    input{
                        flex: 1;
                        outline: none;
                        border: none;
                        padding: 1rem;
                        background: transparent;
                        color: #808080;
                        font-size: 14px;
                        font-family: 'Gotham';  
                        text-transform: uppercase;

                        &::placeholder{
                            text-transform: none;
                        }

                        &:focus{
                            border: 1px solid #013a6b;
                            border-right: none;
                            border-radius: .5rem 0 0 .5rem;
                        }
                    }
                    button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #e97e6a;
                        color: #fff;
                        width: 13rem;
                        height: 3.2rem;
                        outline: none;
                        border: none;
                        font-family: 'Gotham';
                    }
                }
                .input-submit-button-empty{
                    border: 1px solid red;

                    input{
                        &:focus{
                            border: none;
                        }
                    }
                }
                small{
                    margin-left: 1.3rem;
                    color: #e97e6a;
                    font-family: 'Gotham';
                }
            }
        }
    }
}

@media (max-width: 768px){
    .trak-shipment{
        .air-freight-hero-section{
            height: 25vh;

            h1{
                font-size: 1.5rem;
                margin-top: 4rem;
                letter-spacing: 1.4px;
            }
        }
        .main-container-fluid{
            .tracking-container{
                .input-container{
                    label{
                        font-size: 15px;
                    }
                    .input-submit-button{
                        flex-direction: column;
                        gap: 1rem;
                        border: none;

                        input{
                            border: 1px solid #e4e4e4;
                            border-radius: .5rem;

                            &::placeholder{
                                font-size: 12px;
                            }
                        }
                        button{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #e97e6a;
                        color: #fff;
                        width: 100%;
                        outline: none;
                        border: none;
                        font-family: 'Gotham';
                    }
                    }
                }
            }
        }
    }
}
@media (max-width: 550px){
    .trak-shipment{
        .main-container-fluid{
            .tracking-container{
                .input-container{
                    .input-submit-button{
                        flex-direction: column;
                        gap: 1rem;
                        border: none;

                        input{
                            border: 1px solid #e4e4e4;
                            border-radius: .5rem;
                        }
                    }
                }
            }
        }
    }
}