/* Login.css */
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/fonts/SpaceGrotesk-Regular.otf');
}
.app-login-container {
  background: #fafafa;
  height: 100vh;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  .app-login-container .nav{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background: #fff;
  }

.login-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 4rem;
    padding-right: 1rem;
    gap: 3rem;

    .login-lb-1{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: teal;
      padding: .3rem;
      border-radius: .5rem;
      width: fit-content;
      width: 60%;
      margin-top: 2rem;
      
        &::before{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background: #000;
          opacity: 0;
        }
      img{
        height: 80vh;
        width: 100%;
        border-radius: .5rem;
      }
    }
}

.app-login-container form {
  color: #333;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1{
    font-size: 25px;
    color: teal;
  }
  .heading{
    color: #808080;
  }
}



.app-login-container label {
  font-weight: 500;
  margin-bottom: 0.25rem;
  color: teal;
}

.app-login-container input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s;
  background: transparent;
  color: #000;
}

.app-login-container input:focus {
  border: .15rem solid teal;
}

.app-login-container form div:last-child {
  background-color: teal;
  color: #fff;
  text-align: center;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 4rem;
  font-size: 18px;
}

.app-login-container form div:last-child:hover {
  background: #fff;
  border: 1px solid teal;
  color: teal;
}

@media (max-width: 1000px){
  .login-container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8rem;
    padding-right: 0;
    gap: 0;
    .login-lb-1{
      display: none;
    }
}
}
@media (max-width: 768px){
    .app-login-container form {
      width: 80%;
    }
}

@media (max-width: 600px){
  .app-login-container form {
    font-size: 14px;
    padding: 2rem 1rem;
    width: fit-content;
}

.app-login-container form div:first-child {
  font-size: 1.2rem;
  text-align: center;
}

.app-login-container label {
  font-size: 14px;
}

.app-login-container input {
  font-size: 14px;
}

}

@media (max-width: 415px){
    .app-login-container form {
      width: 78%;
    }
}

