*{
    margin: 0;
    border: 0;
    box-shadow: none;
    scrollbar-width: none;
}


@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}
@font-face {
    font-family: 'satoshi-r';
    src: url('../assets/fonts/Satoshi-Regular.otf');
}
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/fonts/SpaceGrotesk-Regular.otf');
}
@font-face {
    font-family: 'UberMoveMedium';
    src: url('../assets/fonts/UberMoveMedium.otf');
}

.admin-role-container{
    display: flex;
    gap: 2rem;
    height: 100vh;
    background-color: #f9f9f9;
        scrollbar-width: none;

    .admin-role{
        width: 100%;

        .admin{
            width: 90%;
            box-shadow: -1px 5px 10px #c7c7c7;
            margin-top: 2rem;
            padding: 1.5rem;
            font-family: 'Gotham';
            font-size: 14px;

            .super-admin{
                border-bottom: 1px solid #e8ebeb;
                padding-bottom: .4rem;
                margin-bottom: .5rem;
                font-family: 'satoshi-black';
                color: teal;
            }
            .super-admin-dark-mode{
                border-bottom: 1px solid #333;
            }
            .admin-x{
                margin-top: 2rem;
            }
            .info{
                color: #808080;
            }

            .admin-role-list{
                box-shadow: -1px 5px 10px #c7c7c7;
                padding: 1rem 3rem;
                width: fit-content;
                margin: .8rem 0;

                li{
                   color: #808080; 
                }
            }
            .admin-role-list-dark-mode{
                box-shadow: none;
            }
        }
        .admin-dark-mode{
            box-shadow: -1px 5px 10px #333;
        }
    }
}
.admin-role-container-dark-mode{
    background: #000;
}
