@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}
.air-freight{
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);


    .air-freight-hero-section{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        background-image: url('../../assets/images/bg-03.png');
        background-repeat: no-repeat;
        background-size: cover;

        h1{
            font-size: 4.5rem;
            color: #fff;
            margin-left: 5rem;

        }
        .mission{
            font-family: 'Gotham';
            font-size: 18px;
            color: #fff;
            margin-top: 1rem;
            width: 50%;
            margin-left: 5rem;
        }

        .quick-link{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            margin-left: 5rem;
            margin-top: 1.5rem;

            .home{
                color: #fff;
                font-size: 18px;
                font-weight: 700;
            }
            .about-section{
                color: #229b8a;
                font-size: 18px;
                font-weight: 700;
            }
            .bage{
                display: flex;
                align-items: center;
                justify-content: center;
                .bage-1, .bage-2{
                    width: 1rem;
                    height: 1rem;
                    background: #e97e6a;
                    border-radius: 100%;
                }
                .bage-2{
                    background: #229b8a;
                    margin-left: -.2rem;
                }
                .bage-1{
                    z-index: 1;
                }
            }
        }
    }
    .parent-main-container-fluid{
        background: #fff;
        padding-bottom: 4rem;
        .main-container-fluid{
            display: flex;
            justify-content: center;
            gap: 2rem;
            width: 95%;
            margin: 0 auto;

            .parent-left-side-container{
                width: 22rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                background: #fff;
                padding-left: 2rem;

                .first-container{
                    padding: 2rem;
                    background: #fff;
                    margin-top: 4rem;
                    border: 1px solid #e2e2e2;
                    box-shadow: 1px 1px 20px #ececec;
                    border-radius: 1rem;

                    .label{
                        display: flex;
                        gap: .5rem;

                        .service-label{
                            color: #229b8a;
                            font-size: 18px;
                            font-weight: 900;
                            letter-spacing: .1rem;
                            color: #e97e6a;
                        }
                        .bage{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .bage-1, .bage-2{
                                width: 1rem;
                                height: 1rem;
                                background: #e97e6a;
                                border-radius: 100%;
                            }
                            .bage-2{
                                background: #229b8a;
                                margin-left: -.2rem;
                            }
                            .bage-1{
                                z-index: 1;
                            }
                        }
                    }
                    .services{
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        gap: 1rem;
                        margin-top: 1rem;
                        
                        

                        .service, .service-x{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            background: #e97e6a;
                            padding: .8rem;
                            border-radius: .2rem;
                            cursor: pointer;

                            .child{
                                font-family: Arial, Helvetica, sans-serif;
                                color: #fff;
                                font-size: 16px;
                                font-weight: 700;
                            }
                            .bullet{
                                width: .5rem;
                                height: .8rem;
                                border: 1px solid #fff;
                            }
                        }
                        .service-x{
                            background: #fff;
                            border: 1px solid #ebebeb;

                            .child{
                                color: #6b5e62;
                            }
                            &:hover{
                                background: #e97e6a;
                                transition: .2s;

                                .child{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                .second-container{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 1rem;
                    background: #2a9d8e;
                    padding: 2rem;
                    border-radius: 1rem;
                    box-shadow: 1px 1px 20px #ececec;

                    .tel-icon{
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 2px dotted #fff;
                        width: fit-content;
                        padding: 1rem;
                        border-radius: 100%;

                        &::before{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-radius: 100%;
                        }
                    }
                    .title{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 20px;
                        font-weight: 900;
                        color: #fff;
                    }
                    .tel{
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        gap: .5rem;

                        .bullet{
                            width: .8rem;
                            height: 1rem;
                            border: 1px dotted #fff;
                        }
                        a{
                            color: #fff;

                            &:hover{
                                color: #d4d4d4;
                            }
                        }
                    }
                    .box-container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;
                        width: 100%;
                        margin-top: 1rem;

                        .box{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 2rem;
                            height: 2rem;
                            background: #e97e6a;
                            border-radius: .5rem;
                            cursor: pointer;

                            .bullet{
                                width: .4rem;
                                height: .6rem;
                                border: 1px dotted #fff;
                            }

                            &:hover{
                                background: #fff;
                                .bullet{
                                    border: 1px dotted #e97e6a;
                                }
                            }
                        }
                    }
                }
            }
            .parent-right-side-container{
                background: #fff;
                width: 65%;
                margin: 0 auto;

                .air-freight{
                    position: relative;
                    margin-top: 4rem;
                    border-radius: 1rem;

                    img{
                        height: 25rem;
                        border-radius: 1rem;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        border-radius: 1rem;
                    }
                }
                h1{
                    font-size: 1.8rem;
                    color: #284650;
                    font-family: Arial;
                    font-weight: 900;
                    margin-top: 4rem;
                }
                .info{
                    margin-top: 2rem;
                    font-family: 'Gotham';
                    font-size: 16px;
                    color: #808080;
                    line-height: 1.7rem;
                }

                .main-rating-container{
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    gap: 2rem;
                    margin-top: 2rem;
                    padding-bottom: .1rem;

                    .rating-container{
                        display: flex;
                        flex-direction: column;
                        gap: .8rem;
                        width: 100%;

                        .percent-container{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .title{
                                color: #284650;
                                font-size: 16px;
                                font-weight: 900;
                                font-family: Arial;
                            }
                            .percent{
                                font-family: Arial;
                                font-weight: 900;
                                color: #299e8f;
                            }
                        }
                        .rating-bar-container{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 2rem;
                            width: 100%;

                            .big-bar{
                                background: #e8ecef;
                                width: 100%;
                                height: .5rem;
                                border-radius: .5rem;

                                .small-bar, .small-bar-2, .small-bar-3{
                                    background: #299e8f;
                                    width: 90%;
                                    height: .6rem;
                                    border-radius: .5rem;
                                }
                                .small-bar-2{
                                    width: 70%;
                                }
                                .small-bar-3{
                                    width: 80%;
                                }
                            }
                        }
                    }
                }

                .shipping-options-container{
                    display: flex;
                    justify-content: space-between;
                    gap: 2rem;
                    margin-top: 2rem;
                    .shipping-options{
                        .heading{
                            color: #284650;
                            font-family: Arial;
                            font-weight: 900;
                            font-size: 1.5rem;
                        }
                        .options{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            margin-top: 1rem;
                            margin-left: 2rem;

                            .option{
                                display: flex;
                                align-items: center;
                                gap: .5rem;

                                .bullet{
                                    width: .8rem;
                                    height: 1rem;
                                    background: #e97e6a;
                                }
                                .child{
                                    font-family: 'Gotham';
                                    font-size: 16px;
                                    color: #808080;

                                    &:hover{
                                        color: #e97e6a;
                                    }
                                }
                            }
                        }
                    }
                    .air-freight-02{
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                        }
                        img{
                            height: 18rem;
                            border-radius: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    .footer{
        background: #fff;
    }
}

@media (max-width: 1000px){
    .air-freight{
        .parent-main-container-fluid{
            .main-container-fluid{
                align-items: center;
                flex-direction: column-reverse;
                .parent-left-side-container{
                    width: 80%;
                    padding-bottom: 5rem;
                    border: 2px solid #fff;
                }
                .parent-right-side-container{
                    width: 80%;
                    .shipping-options-container{
                        .shipping-options{
                            .heading{
                                color: #284650;
                                font-family: Arial;
                                font-weight: 900;
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px){
    .air-freight{
        .air-freight-hero-section{
            h1{
                margin-left: 1.5rem;
                font-size: 3.5rem;
            }
            .mission{
                font-size: 16px;
                width: 80%;
                margin-left: 1.5rem;
            }
            .quick-link{
                margin-left: 1.5rem;

                .home, .about-section{
                    font-size: 14px;
                }
            }
        }
        .parent-main-container-fluid{
            padding-bottom: 0;
            .main-container-fluid{
                align-items: center;
                justify-content: center;
                flex-direction: column-reverse;
                .parent-left-side-container{
                    width: 95%;
                    padding-left: 0;
                }
                .parent-right-side-container{
                    width: 95%;
                    .air-freight{
                        margin-top: 2rem;
                        img{
                            height: auto;
                            width: 100%;
                        }
                    }
                    h1{
                        font-size: 1.3rem;
                    }
                    .shipping-options-container{
                        flex-direction: column;
                        .shipping-options{
                            .heading{
                                font-size: 1.3rem;
                            }
                        }
                        .air-freight-02{
                            img{
                                width: 100%;
                                height: auto;
                                border-radius: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 500px){
    .air-freight{
        .air-freight-hero-section{
            h1{
                font-size: 2.2rem;
            }
        }
    }
}