@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}

.order-main-wrapper{
    background-image: url('../../assets/images/air-freight-02.jpg');
    padding-top: 6rem;
    .order-wrapper{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 4rem;
        box-shadow: 1px 1px 10px #e6e6e6;
        border-radius: 1rem;
        padding: 2rem;
        background: #fff;

        .tracking-id-wrapper{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 2rem;

            .tracking-id-label{
                flex: 1;
                display: flex;
                align-items: center;

                img{
                    width: 3.5rem;
                }
                .id{
                    font-size: 14px;
                }
            }
            .tracking-id-contact{
                display: flex;
                align-items: center;
                gap: .3rem;

                img{
                    width: 1.1rem;
                }
                .contact{
                    color: #000;
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }

        .snippet-content-wrapper{
            font-family: Arial;
            box-shadow: 1px 1px 10px #e6e6e6;

            .info-wrapper-first-child{
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                border-bottom: 1px solid #dbdbdb;
                padding: .5rem 0;

                .info-wrapper-1-2{
                    width: 60%;
                    .info-wrapper-1{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        padding: .4rem 1rem;

                        .info-1{
                            font-weight: 700;
                            color: #000;
                        }
                        .info-2{
                            display: flex;
                            align-items: center;
                            gap: .5rem;
                            .number{
                                font-size: 3rem;
                                color: #e17d1d;
                                font-family: 'satoshi-black';

                            }
                            .text{
                                display: flex;
                                flex-direction: column;
                                font-size: 11px;
                                font-family: 'Gotham';
                                color: #e17d1d;
                            }
                        }
                        .info-wrapper{
                            background: #008000;
                            display: flex;
                            align-items: center;
                            gap: .3rem;
                            padding: .4rem;
                            border-radius: .2rem;
                            width: fit-content;

                            img{
                                width: 1.2rem;
                                height: 1.1rem;
                            }

                            .text{
                                font-size: 13px;
                                color: #fff;
                                font-family: 'Gotham';

                                span{
                                    color: yellow;
                                    font-family: 'satoshi-black';
                                    letter-spacing: .07rem;
                                }
                            }
                        }
                    }
                    .info-wrapper-2{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        padding: .4rem 1rem;
                        margin-top: .2rem;
                        .info-wrapper-child-1{
                            display: flex;
                            align-items: center;
                            gap: .2rem;

                            img{
                                width: 1.2rem;
                                height: 1.1rem;
                            }
                            .arrow_forward_01{
                                width: .8rem;
                                height: .8rem;
                            }
                            .text{
                                font-size: 13px;
                                color: green;
                                font-weight: 600;
                                font-family: Arial;
                            }  
                        }
                        .info-wrapper-child-2{
                            display: flex;
                            justify-content: space-between;
                            .info-wrapper-child-2-left{
                                display: flex;
                                flex-direction: column;

                                .child{
                                    display: flex;
                                    align-items: center;
                                    gap: .3rem;

                                    img{
                                        width: 1rem;
                                        height: 1rem;
                                    }
                                    .text{
                                        font-size: 12px;
                                        color: #808080;
                                        font-family: Arial;
                                        letter-spacing: .5px;
                                    }
                                }
                            }
                        }
                    }
                }
                .info-wrapper-3{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    padding: .4rem 1rem;
                    margin-top: .5rem;
                    .package-info-label{
                        font-size: 13px;
                        color: #000;
                        font-weight: 700;
                        font-family: Arial;

                        span{
                            font-weight: normal;
                            color: #808080;
                            font-size: 14px;
                        }
                    }
                    .package-info{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img{
                            width: 5rem;
                            height: auto;
                        }
                        .label{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: .3rem;
                            font-size: 13px;
                            font-family: Arial;
                            cursor: pointer;

                            span{
                                color: #000;
                            }
                            img{
                                width: .8rem;
                                height: .8rem;
                            }
                        }
                    }
                    .address-container{
                        .ship{
                            font-weight: 700;
                            font-size: 14px;
                        }
                        .address{
                            font-size: 13px;
                            font-family: 'Gotham';
                            margin-top: .5rem;
                            color: #1f1f1f;
                        }
                    }
                }
            }
            .info-wrapper-4, .info-wrapper-5{
                background: #fff;
                padding: 0rem 1rem;
                padding-bottom: .5rem;
                margin-top: .5rem;
                .tracking-number-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #fff;
                    padding: 1rem;
                    margin-top: .5rem;

                    .speedof-container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 13px;
                        font-family: Arial;

                        img{
                            width: 3.2rem;
                            height: auto;
                        }
                    }
                    .contact-container{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .3rem;
                        font-size: 13px;
                        font-family: Arial;
                        color: #e17d1d;
                        img{
                            width: .8rem;
                            height: .8rem;
                        }
                    }
                }
                .tracking-info{
                    display: flex;
                    gap: .3rem;
                    font-size: 13px;

                    img{
                        width: 1rem;
                        height: 1rem;
                    }
                    .parent-text{
                        .child-text{
                            color: green;
                        }
                        .details-container{
                            cursor: pointer;

                            span{
                                color: #000;
                            }
                            img{
                                width: .8rem;
                                height: .8rem;
                            }
                        }
                    }
                }
            }
            .info-wrapper-5{
                display: flex;
                flex-direction: column;
                margin-top: .1rem;
                padding-top: .5rem;

                .tracking-info-wrapper{
                    background: #000;
                    padding: 0 0 0 .4rem;
                    border: 1px solid #dbdbdb;
                    border-radius: .5rem;

                    .tracking-info{
                        background: #fff;
                        border-radius:0 .4rem .4rem 0;
                        padding: .5rem;
                        .parent-text{
                            .child-text{
                                color: #e17d1d;
                            }
                        }
                    }
                }
                .Shipping-label{
                    font-weight: 700;
                }

                .in-transit-lable-wrapper{
                    display: flex;
                    align-items: center;
                    gap: .8rem;
                    margin-top: 1rem;
                    .bullet{
                        width: .5rem;
                        height: .5rem;
                        border-radius: 100%;
                        background: #e17d1d;
                    }
                    .text{
                        font-size: 14px;
                        color: #e17d1d;
                        font-weight: 700;
                    }
                }
                .in-transit-wrapper{
                    border-left: 1px solid #dbdbdb;
                    margin: -.3rem 0 0 .2rem;
                    padding: .5rem 0 3rem 1rem;

                    .label{
                        font-size: 13px;
                        font-family: Arial;
                    }
                    .transit-wrapper{
                        border: 2px solid #dbdbdb;
                        margin-top: .5rem;
                        padding: .3rem;
                        padding-right: 0;
                        .label{
                            display: flex;
                            align-items: center;
                            .text{
                                font-size: 12px;
                                color: #e17d1d;
                            }
                            img{
                                width: .8rem;
                                height: .8rem;
                            }
                        }
                        .progress-wrapper{
                            display: flex;
                            margin-top: .5rem;
                            .progress-1{
                                display: flex;
                                flex-direction: column;
                                width: 27%;

                                .line-bullet{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    .line{
                                        width: 100%;
                                        height: .2rem;
                                        background: #c5c5c5;
                                    }
                                    .line-active{
                                        width: 100%;
                                        height: .3rem;
                                        background: green;
                                    }
                                    .bullet{
                                        width: .7rem;
                                        height: .7rem;
                                        border-radius: 100%;
                                        background: #c5c5c5;
                                        margin-left: -.4rem;
                                        z-index: 1;
                                    }
                                    .check-01{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        width: .7rem;
                                        height: .7rem;
                                        margin-left: -.4rem;
                                        border-radius: 100%;
                                        background: #fff;
                                        border: 1px solid green;
                                        z-index: 1;
                                        img{
                                            width: .7rem;
                                            height: .7rem;
                                            border-radius: 100%;
                                            z-index: 1;
                                        }
                                    }
                                    
                                }
                                .second{
                                    margin-left: -.5rem;
                                }
                                .third{
                                    margin-left: -.8rem;
                                }
                                .fourth{
                                    margin-left: -1.1rem;
                                }
                                .text{
                                    font-size: 12px;
                                    font-family: Arial;
                                    width: 100%;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    .date{
                        margin-top: .5rem;
                        font-weight: 700;
                        margin-bottom: 1.5rem;
                        font-family: Arial;
                    }
                    
                }
                .bullet{
                    width: .5rem;
                    height: .5rem;
                    border-radius: 100%;
                    background: #c5c5c5;
                    z-index: 1;
                }
                .active-bullet{
                    background: green;
                }
                .package-progress{
                    display: flex;
                    flex-direction: column;
                    border-left: 1px solid #dbdbdb;
                    margin: -1rem 0 0 .2rem;
                    padding: 0 0 1rem 1rem;
                    font-size: 14px;
                    font-family: Arial;
                    color: #808080;

                    .info-wrapper{
                        display: flex;
                        gap: .2rem;

                        img{
                            width: 1rem;
                            height: 1rem;
                        }
                        .info{
                            color: #008000;
                            font-family: Arial;
                        }
                    }
                    .label{
                        .text{
                            background: #808080;
                            padding: .2rem .3rem;
                            border-radius: .2rem;
                            color: #fff;
                        }
                    }
                }
                .active-package-progress{
                    border-left: 1px solid green;
                    color: green;
                }
                .time-zone{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .3rem;
                    width: fit-content;
                    cursor: pointer;

                    .text{
                        font-size: 14px;
                        font-family: Arial;
                        color: #808080;
                    }

                }
            }
        }
    }
}

@media (max-width: 820px){
    .order-main-wrapper{
        .order-wrapper{
            width: 85%;
        }
    }
}
@media (max-width: 500px){
    .order-main-wrapper{
        .order-wrapper{
            width: 93%;
            padding: .5rem;
            .snippet-content-wrapper{
                .info-wrapper-first-child{
                    flex-direction: column;

                    .info-wrapper-1-2{
                        width: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 626px){
    .order-main-wrapper{
        .order-wrapper{
            .snippet-content-wrapper{
                .info-wrapper-first-child{
                    flex-direction: column;

                    .info-wrapper-1-2{
                        width: 100%;
                    }
                }
            }
        }
    }
}

