@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}
@font-face {
    font-family: 'satoshi-r';
    src: url('../assets/fonts/Satoshi-Regular.otf');
}
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/fonts/SpaceGrotesk-Regular.otf');
}
@font-face {
    font-family: 'UberMoveMedium';
    src: url('../assets/fonts/UberMoveMedium.otf');
}

.navigation-parent-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2% .5rem 2%;
    z-index: 11;

    .logo-container{
        display: flex;
        align-items: center;
        gap: .5rem;
        justify-content: space-between;
        cursor: pointer;

        img{
            width: 10rem;
        }
        .name{
            font-size: 25px;
            color: #00e200;
        }
    }
    .logo-container-window-scroll{
        background: #e97e6a;
        width: 8rem;
        border-radius: 1rem;

        img{
            width: 8rem;
        }
    }

    .nav-items-container{
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        font-size: 20px;
        font-family: 'UberMoveMedium';

        .nav-items{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: right;
            flex: 1;
            gap: 1.5rem;
            cursor: pointer;

            .nav-item{
                color: #d4d4d4;
                &:hover{
                    color: #fff;
                }
            }

            .services{
                position: relative;
                .services-lable{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;

                    img{
                        width: 1.2rem;
                        height: 1.2rem;

                    }
                }
                .services-container{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    position: fixed;
                    margin: .5rem 0 0 -2rem;
                    background: #fff;
                    border: 1px solid #dfdfdf;
                    padding: 2rem;
                    border-radius: .3rem;

                    .service{
                        display: flex;
                        align-items: center;
                        gap: 2.5rem;
                        margin-bottom: .8rem;
                        color: #284650;
                        font-size: 16px;
                        font-family: 'Gotham';

                        img{
                            width: 1rem;
                            height: 1rem;
                        }

                        &:hover{
                            color: #e97e6a;
                            transition: .2s;
                        }
                    }
                }
            }
        }
        
        .active-nav-item{
            border: 1px solid #e97e6a;
            color: #fff;
            padding: .12rem 1rem;
            border-radius: .2rem;
        }

        .tracking-button{
            background: #e97e6a;
            color: #fff;
            padding: .2rem 1rem;
            border-radius: .2rem;
            transition: .5s;
            cursor: pointer;

            &:hover{
                background: transparent;
                border: 1px solid #fff;
                transition: .5s;
                color: #fff;
            }
        }
        .tracking-button-window-scroll{
            background: #e97e6a;
            color: #fff;
            padding: .2rem 1rem;
            border-radius: .2rem;
            transition: .5s;
            cursor: pointer;
            &:hover{
                background: transparent;
                border: 1px solid #e97e6a;
                transition: .5s;
                color: #e97e6a;
            }
        }
    }
    .burger-button{
        display: none;
    }
}
.navigation-parent-container-window-scroll{
    background: #fff;
    box-shadow: 1px 1px 3px #dfdfdf;
    transition: 1s;
    color: #000;

    .nav-items-container{
        .nav-items{
            color: #000;

            .nav-item{
                color: #1b1b1b;
                &:hover{
                    color: #e97e6a;
                }
            }
        }
        .active-nav-item{
            border: 1px solid #e97e6a;
            color: #e97e6a;
        }

    }
    
}
.sm-nav-items-container{
    display: none;
}

@media(max-width: 1291px){
    .navigation-parent-container{

    .nav-items-container{
        gap: .7rem;
        .nav-items{
            gap: 1rem;
            font-size: 13px;
        }
    }
}
}
@media(max-width: 863px){
    .navigation-parent-container{
    .nav-items-container{
        gap: .7rem;
        .nav-items{
            gap: 1rem;
            font-size: 13px;
        }

         .tracking-button{
            padding: .1rem .5rem;
            font-size: 14px;
        }
    }
}
.navigation-parent-container-window-scroll{

    .nav-items-container{
        .nav-items{
            gap: 1rem;
            font-size: 13px;
        }
        .tracking-button-window-scroll{
            padding: .1rem .5rem;
            font-size: 14px;
        }

    }
    
}
}

/* =============================== Mobile Version =================================== */

@media(max-width: 768px){
    .navigation-parent-container{
        .logo-container{

        img{
            width: 10rem;
            height: 2.5rem;
        }
        .name{
            font-size: 25px;
            color: #00e200;
        }
    }
    .nav-items-container{
        display: none;
    }
    .burger-button{
        display: block;
        cursor: pointer;
        img{
            width: 2rem;
        }
    }
}
.burger-button-window-scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .1rem .5rem;
    padding-top: .2rem;    
    border-radius: .2rem;
    background: #e97e6a;
}

.sm-nav-items-container{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 4%;
    background: #003368;
    animation: sm-nav 1s ease-in-out forwards;
    overflow-y: scroll;
    z-index: 1;

    .logo-close-button{
        display: flex;
        justify-content: space-between;

        .sm-logo-container{
            display: flex;
            align-items: center;
            gap: .5rem;

            .logo{
                width: 10rem;
                height: 2.5rem;
            }
        }
    }

    .nav-items{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5rem;
        margin-top: 2rem;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        Link{
            .nav-item{
                cursor: pointer;
                color: #fff;
            }

        }
        .services-lable{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            cursor: pointer;

            img{
                width: 1.2rem;
            }
        }
        .nav-item-services{
            width: 100%;
            .services-container{
                display: none;
            }

            &:hover{
                .services-container{
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
                    gap: 1rem;
                    background: #002b58;
                    width: 80%;
                    padding: 2rem;
                    border-radius: .5rem;
                    height: 0;
                    overflow-y: hidden;
                    animation: services .5s ease-in-out forwards;
                    margin-top: 1rem;

                    .service{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: #fff;
                        padding: 1rem;
                        border-radius: .5rem;
                        border-bottom: 1px solid #003268;
                        img{
                            width: 1.2rem;
                        }

                        &:hover{
                            color: #fff;
                            background: #e97e6a;
                        }
                    }
                }
            }
        }
    }
    .tracking-button{
        background: #e97e6a;
        text-align: center;
        color: #fff;
        padding: .3rem 0;
        margin-top: 8rem;
        border-radius: 1rem;
    }
}
}

@keyframes services {
    0%{
       height: 0;
       overflow-y: hidden;
    }
    100%{
       height: fit-content;
       overflow-y: hidden;
    }
}
@keyframes sm-nav {
    0%{
        opacity: 0;
        transform: scale(.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}