.contact-us{
    background: linear-gradient(135deg, #0f2027, #031150, #1a2225, #013a6b, #fff);
    .hero{
        .qr{
            display: none;
        }
    }
    .air-freight-hero-section{
        height: 73vh;
    }
    .contact-lable-container-fluid{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        background: #ffffff;
        .contact-lable-container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            margin-top: 3rem;
            .contact-bage{
                display: flex;
                align-items: center;
                justify-content: center;
                .small-bage, .big-bage{
                    width: .8rem;
                    height: .8rem;
                    border-radius: 100%;
                    background: #e97e6a;
                }
                .big-bage{
                    background: #2c9992;
                    height: 1.2rem;
                    width: 1.2rem;
                    margin-left: -.3rem;
                }
                .small-bage{
                    z-index: 1;
                }
            }
            .label{
                color: #e97e6a;
                font-family: Arial;
                font-weight: 900;
                font-size: 1.5rem;
                letter-spacing: .15rem;
            }
        }
        .heading{
            color: #284650;
            font-family: Arial;
            font-weight: 900;
            font-size: 2.5rem;
            padding-bottom: 1rem;
        }
    }

    .contact-fluid-container{
        display: flex;
        background: #fff;
        gap: 2rem;
        padding: 2rem;
        padding-bottom: 5rem;
        border-top: 1px solid #dfdfdf;

        .left-contact-container{
            display: flex;
            align-items: center;
            flex-direction: column;
            .left-contact{
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                background: #2a9d8e;
                height: fit-content;
                width: 20rem;
                .contact{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    border-bottom: 1px solid #25887b;
                    padding: 1.5rem;

                    .contact-all{
                        position: relative;

                        &::before{
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            left: 0;
                        }
                    }
                    a, .location{
                        color: #fff;
                    }
                }
            }
            .qr{
                position: relative;
                margin-top: 1rem;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
        .right-fluid-container{
            display: flex;
            gap: 2rem;
            flex-direction: column;
            flex: 1;
            box-shadow: 1px 1px 20px #dfdfdf;
            background: #fff;
            padding: 2rem;
            border-radius: 1rem;

            .label{
                color: #e97e6a;
                font-family: Arial;
                font-weight: 900;
                font-size: 1.3rem;
                letter-spacing: .1rem;
            }
            .form{
                display: flex;
                flex-direction: column;
                gap: 1rem;
               box-shadow: 1px 1px 20px #dfdfdf;
               padding: 2rem; 

               .label-input{
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: .5rem;

                label{
                    display: flex;
                    align-items: center;
                    gap: .2rem;
                    font-size: 16px;
                    color: #808080;
                    font-family: 'Gotham';

                    span{
                        color: #e97e6a;
                    }
                }
                input, textarea{
                    background: transparent;
                    border: 1px solid #dfdfdf;
                    padding: .7rem;
                    outline: none;
                    color: #000;
                    font-size: 16px;
                    border-radius: .4rem;

                    &:focus{
                        border: 1px solid #2a9d8e;
                    }
                    &::placeholder{
                        color: #d1d1d1;
                    }
                }
                textarea{
                    height: 7rem;
                }
               }
               button{
                width: fit-content;
                background: #e97e6a;
                color: #fff;
                outline: none;
                border: none;
               }
            }
        }
    }
}

@media (max-width: 768px){
    .contact-us{
        .hero{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .qr{
                position: relative;
                display: block;
                margin-top: 4rem;
                margin-right: 1rem;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                img{
                    width: 8rem;
                    height: auto;
                }
            }
        }
        .air-freight-hero-section{
            height: 25vh;

            h1{
                font-size: 1.5rem;
                margin-top: 4rem;
                letter-spacing: 1.4px;
            }
        }
        .contact-lable-container-fluid{
            .contact-lable-container{
                .label{
                    font-size: 1rem;
                }
            }
            .heading{
                font-size: 1.5rem;
            }
        }

        .contact-fluid-container{
            flex-direction: column-reverse;
            align-items: center;
            .left-contact-container{
                width: 100%;
                .left-contact{
                    width: 100%;
                }

                .qr{
                    display: none;
                }
            }
            .right-fluid-container{
                width: 90%;
            }
        }
    }
}
@media (max-width: 500px){
    .contact-us{
        .hero{
            .qr{
                img{
                    width: 5rem;
                }
            }
        }
    }
}