*{
    margin: 0;
    border: 0;
    box-shadow: none;
}

@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}
@font-face {
    font-family: 'satoshi-r';
    src: url('../assets/fonts/Satoshi-Regular.otf');
}
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/fonts/SpaceGrotesk-Regular.otf');
}
@font-face {
    font-family: 'UberMoveMedium';
    src: url('../assets/fonts/UberMoveMedium.otf');
}

.page-dimmed{
  transition: 1s;
  &::before{
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: teal;
    opacity: .3;
    transition: 1s;
  }
}

.dashboard-container{
    display: flex;
    gap: 2rem;
    height: 100vh;
    background-color: #f9f9f9;

    .dashboard{
        width: 100%;
    }
}

.dark-mode{
  background: #000;
}

.dashboard-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.dashboard-items-main {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;

  &:hover{
    background: teal;
    transition: .2s;

    .dashboard-items-flex, .dashboard-items-num{
      color: #fff;
    }
  }
}


.dashboard-items-main:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.dashboard-items-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'SpaceGrotesk';
  color: #333;
}
.dashboard-items-flex-dark-mode{
  color: #fff;
}

.dashboard-items-flex img {
  width: 32px;
  height: 32px;
}

.dashboard-items-num {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1rem;
  color: #007BFF;
}
.dashboard-items-num-dark-mode{
  color: #fff;
}
