*{
    margin: 0;
    border: 0;
    box-shadow: none;
}

@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}
@font-face {
    font-family: 'satoshi-r';
    src: url('../assets/fonts/Satoshi-Regular.otf');
}
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/fonts/SpaceGrotesk-Regular.otf');
}
@font-face {
    font-family: 'UberMoveMedium';
    src: url('../assets/fonts/UberMoveMedium.otf');
}
html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

.librarymanagement-container{
    display: flex;
    gap: 2rem;
    height: 100vh;
    background-color: #f9f9f9;
    scroll-behavior: smooth;

    .librarymanagement{
        position: relative;
        width: 100%;
        overflow-y: scroll;
        scroll-behavior: smooth;

        .bg-screen{
            position: fixed;
            bottom: 2rem;
            right: 1rem;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            background: #e97e6a;
            box-shadow: -1px 5px 10px #f1f1f1;
            img{
                width: 2.5rem;
                height: 2.5rem;
                animation: scroll .5s ease-in-out infinite;
            }
        }
        .bg-screen-dark-mode{
            box-shadow: none;
        }
        .scroll{
            display: none;
        }
        .title-add-book{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ebe8e8;

            .add{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 2rem;
                .add-link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                    background: #e97e6a;
                    color: #fff;
                    padding: .4rem 1rem;
                    font-family: 'SpaceGrotesk';
                    box-shadow: -1px 5px 10px #d8d8d8;
                    border-radius: .5rem;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #fff;
                        color: #e97e6a;
                        width: 1rem;
                        height: 1rem;
                        font-size: 20px;
                        border-radius: 100%;
                    }
                }
                .add-link-dark-mode{
                    box-shadow: none;
                }
            }

            .PageTitle{
                flex: 1;
            }
            
        }

        .search-filter{
            display: flex;
            align-items: center;
            width: 97%;
            margin-top: 1rem;
            border: 1px solid #e8ebeb;
            padding-right: .5rem;
            .search{
                flex: 1;
                display: flex;
                align-items: center;
                padding-left: .6rem;

                img{
                    width: 1.4rem;
                    height: 1.4rem;
                }
                input{
                    padding: .75rem .4rem ;
                    background: transparent;
                    width: 100%;
                    outline: none;
                    border: none;
                    color: teal;
                    font-size: 16px;

                    &:focus{
                    border-bottom: 1px solid teal;
                    }


                    &::placeholder{
                        font-size: 12px;
                        font-family: 'Gotham';
                    }
                }
            }

            .filter{
                display: flex;
                align-items: center;
                border-left: 1px solid #e8ebeb;
                gap: .4rem;
                width: 10rem;
                overflow: hidden;
                padding: .6rem 0;
                img{
                    width: 1.4rem;
                    height: 1.4rem;
                }

                .filter-select{
                    display: flex;
                    align-items: center;
                    gap: .4rem;

                    .label-darl-mode{
                        color: #fff;
                    }

                    select{
                        background: transparent;
                        color: teal;
                        cursor: pointer;
                        outline: none;
                        border: none;
                        font-size: 16px;
                    }
                }
                .filter-select-dark-mode{
                    select{
                        background: #000;
                    }
                }
            }
        }
        .search-filter-dark-mode{
            border: 1px solid #333;
        }

        .books-cont{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            font-family: 'Gotham';
            table{
                width: 98%;
                text-align: left;
                .tr{
                    background-color: teal;
                    color: #fff;
                }
                .even{
                    background: #fafffe;
                    color: teal;
                }
                .odd{
                    background: #f0f0f0;
                    color: teal;
                }

                .table-row, tr{
                    text-align: left;
                    margin: 0;
                    box-shadow: -1px 5px 10px #f1f1f1;
                
                    th{ 
                        padding: .2rem;
                        background: teal;
                        color: #fff;
                        .display{
                            display: none;
                        }
                    }
                    td{
                        padding: .5rem;
                        box-shadow: -1px 5px 10px #f1f1f1;
                    }
                }
                .table-row-dark-mode{
                    box-shadow: none;
                }
            }

            .loading-spinner{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column-reverse;
                gap: 1rem;
                height: 50vh;
                width: 90%;
                background: transparent;

                .info{
                    font-family: Arial;
                    color: tomato;
                    font-style: italic;
                }
            }

            .publication-table{
                font-size: 15px;
            }
        }
        .morePanelClassName-main-container{
            position: relative;
            .close-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 1.7rem;
                width: 1.7rem;
                border-radius: 100%;
                box-shadow: -1px 5px 10px #d8d8d8;
                animation: slide-1 .5s ease-in forwards;
            }
            .more-panel{
                position: absolute;
                top: 2rem;
                right: 3rem;
                display: flex;
                align-items: start;
                justify-content: left;
                flex-direction: column;
                gap: 1rem;
                width: 10rem;
                box-shadow: -1px 5px 10px #c7c7c7;
                border: 1px solid #d9e6d6c4;
                border-radius: .3rem;
                background: #fff;
                padding: .5rem;
                animation: slide .5s ease-in forwards;

                .item{
                    display: flex;
                    align-items: center;
                    gap: .6rem;
                    cursor: pointer;
                    font-family: 'Gotham';
                    padding: .3rem .8rem;
                    border-radius: .3rem;
                    color: #000;
                    width: 85%;

                    &:hover{
                        background: rgb(235, 235, 235);
                        color: teal;
                    }

                    img{
                        width: 1rem;
                        height: 1rem;
                    }
                    .label{
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
.librarymanagement-container-dark-mode{
    background: #000;
}
@media (max-width: 768px){
    .librarymanagement-container{
        
    .librarymanagement{
        .bg-screen{
            display: none;
        }
        .scroll{
            position: fixed;
            bottom: 2rem;
            right: 1rem;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            background: #e97e6a;
            box-shadow: -1px 5px 10px #f1f1f1;
            img{
                width: 2.5rem;
                height: 2.5rem;
                animation: scroll .5s ease-in-out infinite;
            }
        }
        .fixed{
            position: fixed;
            background: #f9f9f9;
            top: 0;
            left: 0;
            right: 0;
        }
        .title-add-book{
            .PageTitle{
                width: 98%;
            }

            .add{
                margin-left: 4%;
                font-family: 'UberMoveMedium';
                margin-top: 2rem;
            }
        }

        .search-filter{
            align-items: start;
            flex-direction: column;
            gap: .5rem;
            margin-left: 3%;
            .search{
                width: 96%;
                border: 1px solid #ebe8e8;
                input{
                    &::placeholder{
                        font-size: 14px;
                        color: #000;
                    }
                }
            }

             .filter{
                border: 1px solid #ebe8e8;
                margin-bottom: .7rem;
                padding-right: .5rem;
            }
        }
        .books-cont{
            scroll-behavior: smooth;
            width: 50rem;
            margin-left: 2%;
            font-family: 'UberMoveMedium';
            margin-top: 16rem;
            margin-bottom: 2rem;

            .publication-table{

                tr{
                    td{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
}
@media (max-width: 500px){
    .librarymanagement-container{
    .librarymanagement{

        .books-cont{
            table{
                width: 98%;
                text-align: left;
                text-transform: uppercase;
                tr{
                    text-align: left;
                    margin: 0;
                    box-shadow: -1px 5px 10px #f1f1f1;
                
                    th{ 
                        padding: .2rem;
                        background: teal;
                        color: #fff;
                        .display{
                            display: none;
                        }
                    }
                    td{
                        padding: .5rem;
                        box-shadow: -1px 5px 10px #f1f1f1;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
}

@keyframes slide {
    from{
        transform: translateY(-2rem);
        opacity: .1;
        background: #808080;
    }
    to{
        transform: translateY(0rem);
        opacity: 1;
        background: #fff;
    }
}
@keyframes slide-1 {
    from{
        transform: translateY(-1rem);
        opacity: .1;
        background: #ffafa1;
    }
    to{
        transform: translateY(0rem);
        opacity: 1;
        background: #e97e6a;
    }
}
@keyframes scroll {
    0%{
        transform: translateY(.2rem);
    }
}