*{
    margin: 0;
    border: 0;
    box-shadow: none;
}

@font-face {
    font-family: 'satoshi-black';
    src: url('../assets/fonts/Satoshi-Black.otf');
}
@font-face {
    font-family: 'satoshi-r';
    src: url('../assets/fonts/Satoshi-Regular.otf');
}
@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Book.otf');
}
@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/fonts/SpaceGrotesk-Regular.otf');
}
@font-face {
    font-family: 'UberMoveMedium';
    src: url('../assets/fonts/UberMoveMedium.otf');
}

.new-book-container{
    display: flex;
    gap: 2rem;
    height: 100vh;
    overflow-y: scroll;
    background-color: #f9f9f9;

    .new-book{
        overflow-y: scroll;
        width: 100%;

        .title-add-book{
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #ebe8e8;

            .add{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 2rem;
                .add-link{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .5rem;
                    background: #e97e6a;
                    color: #fff;
                    padding: .4rem 1rem;
                    font-family: 'SpaceGrotesk';
                    box-shadow: -1px 5px 10px #d8d8d8;
                    border-radius: .5rem;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #fff;
                        color: #e97e6a;
                        width: 1rem;
                        height: 1rem;
                        font-size: 20px;
                        border-radius: 100%;
                    }
                }
                .add-link-dark-mode{
                    box-shadow: none;
                }
            }

            .PageTitle{
                flex: 1;
            }
            
        }

        .form-container{
            position: relative;
            border: 1px solid #d9e6d6c4;
            width: 80%;
            margin: 0 auto;
            margin-top: 2rem;
            padding: 1.5rem;
            box-shadow: -1px 5px 10px #c7c7c7;
            font-family: 'Gotham';
            small{
                display: flex;
                align-items: center;
                color: teal;

                span{
                    font-size: 1.5rem;
                    color: #ff0000;
                }
            }

            .form-field, .select-field{
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: .1rem;
                margin-bottom: 1rem;
                .label{
                    font-size: 16px;
                    color: teal;
                }
                .generate-id{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 0;

                    button{
                        margin: 0;
                        background: transparent;
                        border: 1px solid teal;
                        color: #e97e6a;
                        width: 6rem;
                        padding: .4rem;
                    }
                }


                input, .track-id-Label{
                    background: transparent;
                    border: 1px solid #d9e6d6c4;
                    outline: none;
                    padding: .8rem;
                    color: teal;
                    font-size: 16px;

                    &:focus{
                        border: none;
                        border-bottom: 1px solid teal;
                    }
                }
                .track-id-Label{
                    cursor: not-allowed !important;
                }
            }
            .save-container, .disabled{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                background: #e97e6a;
                width: 8rem;
                color: #fff;
                padding: .5rem;
                margin-top: 1rem;
                cursor: pointer;
                outline: none;
            }
            .disabled{
                background: #808080;
                border: none;
            }

            .sweet-loading-custom{
                display: flex;
                align-items: center;
                justify-content: center;
                position: fixed;
                top: 0;
                bottom: 0;
                width: 60%;
            }
        }
        .form-container-dark-mode{
            box-shadow: none;
            border-radius: 1rem;

            .form-field, .select-field{
                   input, select{
                    border: 1px solid #333;
                    background: #000;
                }
            }
        }
        .loading-spinner{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.new-book-container-dark-mode{
    background: #000;
}

@media (max-width: 768px){
    .new-book-container{
        .new-book{
            .title-add-book{

                .add{
                    margin-top: 2rem;
                }
            }
        }
    }
}